@import "core/settings";
@import "core/variables";
@import "layout/header";
@import "layout/body";
@import "layout/detail";
@import "layout/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3f3f3;
  font-family: "Open Sans", sans-serif;
}

.contenedor {
  width: 90%;
  max-width: 800px;
  margin: auto;
}
