<footer class="container">
  <div class="container__redes">
    <!-- github -->
    <div class="container__redes__icon">
      <a
        href="https://github.com/sandrusmb/visual-porfolio-js"
        target="_blank"
        class="container__redes__icon__link github"
      >
        <i class="fab fa-github-square"></i>
      </a>
    </div>
    <!-- twitter -->
    <div class="container__redes__icon">
      <a
        href="https://twitter.com/by_sandrusmb"
        target="_blank"
        class="container__redes__icon__link twitter"
      >
        <i class="fab fa-twitter-square"></i>
      </a>
    </div>
  </div>

  <div class="container__autor">
    <p>
      Made with <i class="fab fa-html5"></i>
      <i class="fab fa-css3-alt"></i>
      <i class="fab fa-sass"></i>
      <i class="fab fa-js-square"></i>
      <i class="far fa-kiss-wink-heart"></i> by Sandra Martín
    </p>
  </div>
</footer>
