<header class="header">
  <div class="header__logo">
    <h1>Sandra Martín Bartolomé</h1>
    <p class="header__logo__p">Frontend developer</p>
  </div>
  <form action="">
    <input type="text" placeholder="Buscar" class="header__input" id="search" />
  </form>
  <div class="header__menu categorias" id="categorias">
    <a href="#" class="header__menu__link">Todos</a>
    <a href="#" class="header__menu__link">Code</a>
    <a href="#" class="header__menu__link">Ideas</a>
    <a href="#" class="header__menu__link">Viajes</a>
    <a href="#" class="header__menu__link">Equipo</a>
    <a href="#" class="header__menu__link">Sport</a>
  </div>
</header>
