<header class="header">
  <div class="header__logo">
    <h1>Sandra Martín</h1>
    <p class="header__logo__p">Frontend developer</p>
  </div>
  <form action="">
    <input type="text" placeholder="Buscar" class="header__input" id="search" />
  </form>
  <nav class="header__menu" id="menu">
    <a href="#" id="active" class="header__menu__link">Todo</a>
    <a href="#" class="header__menu__link">Work</a>
    <a href="#" class="header__menu__link">Travel</a>
    <a href="#" class="header__menu__link">Friends</a>
    <a href="#" class="header__menu__link">Sport</a>
  </nav>
</header>
