<main class="grid imagenes-cargadas" id="grid">
  <div class="grid__item">
    <div class="grid__item__contenido">
      <img
        class="grid__item__contenido__foto"
        src="../../assets/images/aaron-burden-AXqMy8MSSdk-unsplash.jpg"
        alt="cuaderno"
      />
    </div>
  </div>
  <div class="grid__item">
    <div class="grid__item__contenido">
      <img
        class="grid__item__contenido__foto"
        src="../../assets/images/aaron-burden-AXqMy8MSSdk-unsplash.jpg"
        alt="cuaderno"
      />
    </div>
  </div>
  <div class="grid__item">
    <div class="grid__item__contenido">
      <img
        class="grid__item__contenido__foto"
        src="../../assets/images/aaron-burden-AXqMy8MSSdk-unsplash.jpg"
        alt="cuaderno"
      />
    </div>
  </div>
</main>
