.header {
  text-align: center;

  &__logo {
    padding: 40px;
    &__p {
      color: #9b9b9b;
    }
  }

  &__input {
    width: 80%;
    border: none;
    text-align: center;
    border-radius: 100px;
    font-size: 16px;
    height: 30px;
    padding: 0 20px;
    margin-bottom: 40px;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &__link {
      text-decoration: none;
      color: #9b9b9b;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 40px;
      &:hover {
        font-size: 20px;
        opacity: 0.5;
        color: orange;
      }
    }
  }
}

.active {
  color: black;
}
